* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
}
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(img/background.jpg) center;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-row-gap: 3em;
    background-size: 600px;
    animation: back 10s linear alternate-reverse infinite;
    transition: 0.7s;
    z-index: 4;
}
@keyframes back { to {background-size: 1100px;}}
.menu h1 {
    font: bold 8em sans-serif;
    color: #fff;
    
}
.menu h1 b {
    color: transparent;
    -webkit-text-stroke: 3px rgb(255, 255, 255);
    /* text-shadow: 2px 2px 10px #000; */
    background: linear-gradient(rgb(255, 0, 0) 0 40%, rgb(255, 166, 0) 100%) no-repeat;
    -webkit-background-clip: text;
    background-position-y: -120px;
    animation: title 1s linear alternate infinite;
    user-select: none;
}
.menu h1 b:nth-of-type(2) { animation-delay: .2s; }
.menu h1 b:nth-of-type(3) { animation-delay: .4s; }
.menu h1 b:nth-of-type(4) { animation-delay: .6s; }
.menu h1 b:nth-of-type(5) { animation-delay: .8s; }
.menu h1 b:nth-of-type(6) { animation-delay: 1s; }
.menu h1 b:nth-of-type(7) { animation-delay: 1.2s; }
.menu h1 b:nth-of-type(8) { animation-delay: 1.4s; }
.menu h1 b:nth-of-type(9) { animation-delay: 1.6s; }
@keyframes title {
    to { background-position-y: 0; }
}
.menu .controls {
    display: grid;
    justify-content: center;
    grid-row-gap: 15px;
}
.menu .controls .btn {
    padding: 15px 35px;
    font: bold 32px cursive;
    border-radius: 45px;
    outline: 0;
    border: 1px solid #000;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.menu .controls .btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f500ff;
    z-index: -1;
    transition: 0.5s;
    clip-path: circle(0 at 5% 90%);
}
.menu .controls .btn:hover::after {
    clip-path: circle(100% at 50% 90%);
    
}
.menu .controls .btn:hover {
    color: #fff;
}
.game {
    height: 100vh;
    background: url(img/background2.jpg) center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game .XO {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}
.game .XO .box {
    width: 200px;
    height: 200px;
    border: 1px solid #fff;
    background: rgba(0, 255, 234, 0.7);
    cursor: pointer;
    box-shadow: inset 0 0 10px 2px rgb(108, 108, 108);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    font: 4em cursive;
    user-select: none;
}
.game .XO .box:hover {
    background: rgba(0, 255, 234, 0.5);;
}
.game .winner {
    width: 100%;
    height: 200px;
    background-color: rgb(189, 30, 30);
    position: absolute;
    display: flex;
    justify-content: center;
    left: -100%;
    transition: 0.8s;
    z-index: 2;
    box-shadow: inset 0 0 20px #000;
}
@keyframes winner {
    0% {
        left: 0;
    }
    99.999% {
        left: 100%;
    }
    100% {
        left: -100%;
    }
}
.game .replace {
    padding: 15px;
    background: rgba(0,0,0, 0.7);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    animation: replace 0.7s linear alternate-reverse infinite;
    cursor: pointer;
    bottom: 10px;
}
@keyframes replace {
    to { transform: scale(1.1); }
}
.game .winner .replace:hover {
    background: #f500ff;
}
.game .winner .replace h1 {
    color: #fff;
    user-select: none;
}
.game .winner h2 {
    color: #fff;
    font-size: 2.5em;
    margin-top: 1%;
    text-shadow: 2px 2px 2px #000;
}
.game table {
    width: 200px;
    height: 250px;
    background: url(img/tablebackground.jpg) center / 246% 112%;
    position: absolute;
    right: -100%;
    border-radius: 20px;
    transition: 1s;
}
.game table tr:nth-child(1) td {
    text-align: center;
}
.game table tr td {
    color: #000;
    font: 2em 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    user-select: none;
}
.game table tr:nth-child(2) td, .game table tr:nth-child(3) td {
    text-indent: 30px;
    word-spacing: 35px;
} 
.game table .N td {
    color: rgb(0, 0, 0);
    font: 2em 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    user-select: none;
    text-indent: 30px;
}
.game .itog {
    width: 600px;
    height: 200px;
    background: #2dab0ede;
    position: absolute;
    top: 0;
    transform: rotateX(-90deg);
    transform-origin: top;
    display: flex;
    border-radius: 0 0 50px 50px;
    box-shadow: inset 0 -10px 15px rgba(0, 0, 0, 0.3);
    flex-wrap: wrap;
    transition: 1s;
}
.game .itog h2 {
    color: #fff;
    font-size: 3em;
    width: 100%;
    text-align: center;
    user-select: none;
}
.game .itog .itogWinner {
    text-indent: 26%;
    color: rgb(255, 0, 0);
    width: 100%;
    font: 4em sans-serif;
    font-weight: bold;
    user-select: none;
}
.itog .replace {
    padding: 15px;
    background: rgba(0,0,0, 0.7);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    animation: replace 0.7s linear alternate-reverse infinite;
    cursor: pointer;
    bottom: 13%;
    right: 5%;
}
.itog .replace:hover {
    background: #f500ff;
}
.itog .replace h1 {
    color: #fff;
    user-select: none;
}
.game .arrow {
    color: #fff;
    font-size: 2em;
    position: absolute;
    right: 2%;
    font-weight: bold;
    cursor: pointer;
    transition: 1s;
    transform: rotate(180deg);
}
.game .exit {
    color: #fff;
    font: 2.5em sans-serif;
    position: absolute;
    top: 10px;
    left: 10px;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px #000;
    cursor: pointer;
}

.infoMenu {
    width: 100%;
    height: 100vh;
    background: url(img/infobackground.jpg);
    z-index: 6;
    position: absolute;
    padding: 0 100px;
    top: 100%;
    transition: 1s;
}
.infoMenu h1, .infoMenu h2 {
    color: rgb(230, 230, 230);
    font: 2em sans-serif;
    margin: 100px 0;
    text-shadow: 2px 2px 2px #000;
}
.infoMenu h1 {
    font-size: 2.5em;
}
.infoMenu .backInfo {
    position: absolute;
    top: 10px;
    left: 60px;
}
.infoMenu .backInfo span {
    color: red;
    text-shadow: 2px 2px 2px #000;
    font-size: 2em;
    cursor: pointer;
    user-select: none;
}








